.ac-page-container {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: transparent;
}

.ac-page-title {
  font-family: "Inter";
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #13294b;
}

.ac-page-menu {
  margin-top: 20px;
  height: 36px;
  display: flex;
  justify-content: space-between;
}

.ac-menu-search {
  min-width: 584px;
  max-width: 50%;
  padding: 9px 16px;
  border: 1px solid #eff1f4;
  background-color: #ffffff;
  border-radius: 4px;
  flex: 1;
  gap: 8px;
  display: flex;
  align-items: flex-start;
}

.ac-menu-search-icon {
  margin: 2px;
  width: 14px;
  height: 14px;
  color: #8893a5;
}

.ac-menu-search-text {
  height: 18px;
  flex: 1;
  outline: none;
}

.ac-focused {
  border: 1px solid rgb(167, 171, 176);
}

.ac-menu-sort {
  display: flex;
  gap: 8px;
  align-items: center;
}

.ac-menu-sort > span {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: #000000;
}

/* dd */
.custom-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.selected-value {
  width: 150px;
  height: 36px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  padding: 9px 16px;
}

.selected-value span {
  float: right;
  margin-top: -2px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1;
}

.custom-dropdown.open .dropdown-content {
  display: block;
}

.dropdown-content div {
  padding: 5px 10px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  padding: 9px 16px;
  cursor: pointer;
  background-color: white;
}

.dropdown-content div:hover {
  color: white;
  background-color: #767676;
}

.custom-dropdown:hover .dropdown-content {
  display: block;
}

/* dd end */

.menu-layout {
  color: #a1a9b7;
  width: 53px;
  display: flex;
  gap: 5px;
}

.menu-layout > img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.ac-page-content {
  background-color: white;
  margin-top: 16px;
}

.ac-no-data {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Old CSS */

.ac-list-row {
  display: flex;
  padding: 8px 40px;
  border-bottom: 1px solid rgba(78, 94, 120, 0.4);
}

.ac-list-col {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  height: 36px;
  display: flex;
  align-items: center;
}

.ac-list-col > span {
  font-size: 14px;
}

.col-3 {
  flex: 3;
}

.col-2 {
  flex: 2;
}

.col-1 {
  flex: 1;
}

.list-row-odd {
  background-color: rgb(255, 255, 255, 1);
}

.list-row-even {
  background-color: rgba(71, 215, 172, 0.03);
}

.ac-layout-list {
  padding-bottom: 0px;
}

.ac-layout-list .ac-theader {
  font-family: "Inter";
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  background-color: #ddedea;
  box-shadow: 0px 4px 8px 0px #0000001a;
}

.ac-layout-list .ac-theader > div {
  height: 32px;
  display: flex;
  align-items: center;
}

.ac-layout-list .ac-action-navigate {
  min-width: 114px;
  padding: 9px 16px;
  border-radius: 4px;
  font-family: "IBM Plex Sans";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background-color: #eff1f4;
}

.ac-layout-list .ac-actions {
  display: flex;
  justify-content: flex-end;
}

.ac-layout-list img {
  margin-left: 10px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
