.dbskin * {
  border: 1px solid red;
}

.pg-container {
  padding-top: 42px;
  background-color: white;
  box-shadow: 0px 4px 12px 0px #00000026;
}

.company-name {
  margin-top: 24px;
  margin-bottom: 12px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: rgba(19, 41, 75, 1);
}

.info-list {
  display: flex;
  align-items: center;
  margin-bottom: 65px;
}

.info-list > .list-key {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(19, 41, 75, 1);
  opacity: 0.8;
}

.info-list > .list-date {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(19, 41, 75, 1);
  opacity: 0.8;
  height: 20px;
}

.info-list > .list-time {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  font-style: italic;
  color: rgba(19, 41, 75, 0.6);
}

.info-list > .list-status {
  font-family: "Inter";
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  padding: 6px 12px;
  color: rgba(0, 0, 0, 1);
  border-radius: 15px;
}

.info-list > .status-done {
  border: 1px solid rgba(71, 215, 172, 1);
  background-color: rgba(71, 215, 172, 0.1);
}

.info-list > .status-progress {
  border: 1px solid rgba(247, 149, 141, 1);
  background-color: rgba(247, 149, 141, 0.1);
}

.info-list > .list-separator {
  background-color: rgba(0, 0, 0, 1);
  width: 1px;
  height: 30px;
  opacity: 0.1;
  margin-left: 24px;
  margin-right: 24px;
}

.section-navigation {
  background-color: white;
  width: 340px;
}

.section-title {
  color: #13294b;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "Inter";
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.section-option {
  font-family: "Inter";
  font-size: 14px;
  line-height: 17px;
}

.section-content {
  padding: 48px 60px;
  background-color: white;
}

.section-content-discovery {
  padding: 23px 32px;
  background-color: white;
}

.section-content .section-description {
  padding: 24px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #13294b;
}

.section-content .section-question {
  border-bottom: 1px solid rgba(19, 41, 75, 0.1);
  padding: 40px 0px;
}

.section-content-discovery .section-question {
  border: 1px solid rgba(19, 41, 75, 0.1);
  padding: 32px 32px;
  margin-bottom: 32px;
  border-radius: 8px;
}

.section-question > div:first-child > span {
  font-family: "Inter";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  opacity: 0.8;
  color: rgba(19, 41, 75, 1);
}

.section-question > div:first-child > div {
  font-family: "Inter";
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 24px;
  color: rgba(19, 41, 75, 1);
}

.section-question > div:first-child > p {
  font-family: "Inter";
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  opacity: 1;
  color: rgba(19, 41, 75, 1);
}

.section-question > div:nth-child(2) {
  font-family: "Inter";
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: rgba(19, 41, 75, 1);
}

.section-content .section-question > div:nth-child(2) {
  display: none;
}

.section-content-discovery .section-question > div:first-child {
  display: none;
}

.question-option {
  width: 100%;
  margin-top: 24px;
  font-family: "Inter";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(19, 41, 75, 1);
}

.section-foot-menu {
  position: fixed;
  bottom: 0;
  right: 5.4%;
  left: 460px;
  padding: 18px 60px;
  background-color: white;
  z-index: 4;
}

.section-foot-menu button {
  font-family: "IBM Plex Sans";
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  border-radius: 4px;
  padding: 6px 16px;
}

.section-recommend {
  padding: 48px 60px;
  border-top: 4px solid rgba(19, 41, 75, 0.1);
}

.section-recommend:first-child {
  border-top: none;
}

.section-recommend .heading {
  width: fit-content;
  font-family: "Inter";
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #13294b;
  padding: 0 0 24px 0;
}

.section-recommend .heading-menu {
  font-family: "Inter";
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(19, 41, 75, 1);
  display: flex;
  gap: 10px;
}

.section-recommend .heading-menu .menu-icon > * {
  width: 20px;
  height: 20px;
  color: rgba(71, 215, 172, 1);
}

.section-recommend .heading-menu .menu-form {
  margin-top: -12px;
}

.section-recommend .rec-heading {
  font-family: "Inter";
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #13294b;
  opacity: 0.8;
  margin-top: 24px;
  margin-bottom: 24px;
}

.section-recommend .recommend-title {
  font-family: "Inter";
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  color: #13294b;
  opacity: 0.8;
}

.section-recommend .recommend-menu {
  font-family: "Inter";
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #13294b;
}

.section-recommend .recommend-text {
  font-family: "Inter";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #13294b;
  padding: 10px 0 20px 0;
}

.section-recommend .recommend-foot-menu {
  padding: 14px 0;
  margin-top: 40px;
}

.section-recommend .recommend-foot-menu button {
  font-family: "IBM Plex Sans";
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  padding: 6px 16px;
}

.section-recommend .recommend-box {
  margin-bottom: 20px;
}

.section-recommend .recommend-box-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.section-recommend .add-recommend {
  font-family: "IBM Plex Sans";
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  border-radius: 4px;
  padding: 6px 16px;
  margin-top: 24px;
  color: #47d7ac;
  background-color: white;
  border: 1px solid #47d7ac;
}

.foot-menu {
  position: fixed;
  bottom: 0;
  right: 5.4%;
  left: 460px;
  z-index: 5;
}

.foot-menu button {
  font-family: "IBM Plex Sans";
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  border-radius: 4px;
  padding: 6px 16px;
}

.assessment-status-button {
  border-radius: 8px;
  padding: 3px 8px;
  background-color: white;
  height: 31px;
}

.assessment-in-progress {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #f99068;
}
