.ah-page-container {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 60px;
  background-color: transparent;
}

.ah-header {
  display: flex;
  justify-content: space-between;
  height: 36px;
}

.ah-header-left {
  display: flex;
  gap: 16px;
  align-items: center;
}

.ah-header-right {
  display: flex;
  gap: 16px;
}

.ah-back {
  width: 24px;
  height: 18px;
  color: #13294b;
  cursor: pointer;
}

.ah-page-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  font-family: Inter;
  color: #13294b;
}

.ah-view-discovery-report {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  padding: 9px 16px;
  border-radius: 4px;
  color: black;
  background-color: white;
  font-family: "IBM Plex Sans";
}

.ah-start-assessment {
  font-family: "IBM Plex Sans";
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  padding: 9px 24px;
  border-radius: 4px;
  color: white;
  background-color: rgba(71, 215, 172, 1);
  border: 1px solid rgba(71, 215, 172, 1);
}

.ah-start-assessment:disabled {
  opacity: 0.4;
}

.ah-info {
  margin-top: 24px;
  border-radius: 4px;
  padding: 24px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.ah-info-left {
  display: flex;
  gap: 16px;
  align-items: center;
}

.ah-info-left > span {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #13294b;
  font-family: Inter;
}

.ah-separator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #4e5e78;
}

.ah-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  margin-top: 40px;
  color: #13294b;
  font-family: Inter;
}

.ah-content {
  margin-top: 16px;
  background-color: white;
}

.ah-no-data {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ah-list-row {
  display: flex;
  padding: 8px 40px;
  border-bottom: 1px solid rgba(78, 94, 120, 0.4);
}

.ah-list-col {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  height: 36px;
  display: flex;
  align-items: center;
}

.ah-list-col > span {
  font-size: 14px;
}

.ah-list-col > div {
  font-size: 12px;
  line-height: 20px;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 4px;
}

.ah-list-col > div > svg {
  width: 16px;
  height: 16px;
}

.ah-list-col > div.inprogress {
  color: black;
}

.ah-list-col > div.submitted {
  color: #2d807b;
}

.ah-list-col > div.completed {
  color: #2e008b;
}

.col-3 {
  flex: 3;
}

.col-2 {
  flex: 2;
}

.col-1 {
  flex: 1;
}

.list-row-odd {
  background-color: rgb(255, 255, 255, 1);
}

.list-row-even {
  background-color: rgba(71, 215, 172, 0.03);
}

.ah-layout-list {
  padding-bottom: 0px;
}

.ah-layout-list .ah-theader {
  font-family: "Inter";
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  background-color: #ddedea;
  box-shadow: 0px 4px 8px 0px #0000001a;
}

.ah-layout-list .ah-theader > div {
  height: 32px;
  display: flex;
  align-items: center;
}

.ah-layout-list .ah-action-navigate {
  min-width: 165px;
  padding: 9px 16px;
  border-radius: 4px;
  font-family: "IBM Plex Sans";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background-color: #eff1f4;
}

.ah-layout-list .ah-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.ah-layout-list img {
  margin-left: 10px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

/* New CSS */
/* Style The Dropdown Button */
.ah-dropdown {
  position: relative;
  display: inline-block;
}
.ah-dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #ffffff;
  min-width: 180px;
  box-shadow: 0px 0px 12px 0px #0000001a;
  z-index: 1;
  border-radius: 4px;
}
.ah-dropdown-content a {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  color: #2f3030;
  padding: 9px 16px;
  text-decoration: none;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}
.ah-dropdown-content a:hover {
  background-color: #f1f1f1;
}
.ah-dropdown:hover .ah-dropdown-content {
  display: block;
}
