.cah-page-container {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: transparent;
}

.cah-header {
  display: flex;
  justify-content: space-between;
  height: 36px;
}

.cah-header-left {
  display: flex;
  gap: 16px;
  align-items: center;
}

.cah-header-right {
  display: flex;
  gap: 16px;
}

.cah-back {
  width: 24px;
  height: 18px;
  color: #13294b;
  cursor: pointer;
}

.cah-page-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  font-family: Inter;
  color: #13294b;
}

.cah-view-discovery-report {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  padding: 9px 16px;
  border-radius: 4px;
  color: black;
  background-color: white;
  font-family: "IBM Plex Sans";
}

.cah-info {
  margin-top: 24px;
  border-radius: 4px;
  padding: 24px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.cah-info-left {
  display: flex;
  gap: 16px;
  align-items: center;
}

.cah-info-left > span {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #13294b;
  font-family: Inter;
}

.cah-separator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #4e5e78;
}

.cah-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  margin-top: 40px;
  color: #13294b;
  font-family: Inter;
}

.cah-content {
  margin-top: 16px;
  background-color: white;
}

.cah-no-data {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cah-list-row {
  display: flex;
  padding: 8px 40px;
  border-bottom: 1px solid rgba(78, 94, 120, 0.4);
}

.cah-list-col {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  height: 36px;
  display: flex;
  align-items: center;
}

.cah-list-col > span {
  font-size: 14px;
}

.cah-list-col > div {
  font-size: 12px;
  line-height: 20px;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 4px;
}

.cah-list-col > div > svg {
  width: 16px;
  height: 16px;
}

.cah-list-col > div.inprogress {
  color: black;
}

.cah-list-col > div.submitted {
  color: #2d807b;
}

.cah-list-col > div.completed {
  color: #2e008b;
}

.col-3 {
  flex: 3;
}

.col-2 {
  flex: 2;
}

.col-1 {
  flex: 1;
}

.list-row-odd {
  background-color: rgb(255, 255, 255, 1);
}

.list-row-even {
  background-color: rgba(71, 215, 172, 0.03);
}

.cah-layout-list {
  padding-bottom: 0px;
}

.cah-layout-list .cah-theader {
  font-family: "Inter";
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  background-color: #ddedea;
  box-shadow: 0px 4px 8px 0px #0000001a;
}

.cah-layout-list .cah-theader > div {
  height: 32px;
  display: flex;
  align-items: center;
}

.cah-layout-list .cah-action-navigate {
  min-width: 165px;
  width: 100%;
  padding: 9px 16px;
  border-radius: 4px;
  font-family: "IBM Plex Sans";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background-color: #eff1f4;
}

.cah-layout-list .cah-actions {
  display: flex;
  justify-content: flex-end;
}

.cah-layout-list img {
  margin-left: 10px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
