.page-container {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.page-title {
  padding: 40px 40px 0 40px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: rgba(19, 41, 75, 1);
}

.page-menu {
  margin: 40px;
  height: 36px;
  display: flex;
  gap: 64px;
}

.menu-search {
  min-width: 500px;
  padding: 9px 16px;
  border: 1px solid rgba(239, 241, 244, 1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 18px;
  flex: 1;
  gap: 8px;
  display: flex;
  align-items: flex-start;
}

.menu-search-icon {
  width: 18px;
  height: 18px;
  color: #9cb0d1;
}

.menu-search-text {
  height: 18px;
  flex: 1;
  outline: none;
}

.focused {
  border: 1px solid rgb(167, 171, 176);
}

.menu-sort {
  display: flex;
  gap: 8px;
  align-items: center;
}

.menu-sort > img {
  width: 18px;
  height: 15px;
}

.menu-sort > span {
  height: 19px;
  opacity: 0.8;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(19, 41, 75, 1);
}

.menu-sort > select {
  min-width: 100px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  outline: none;
  color: rgba(19, 41, 75, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-sort > select > option {
  padding: 5px 10px;
  font-size: 16px;
  color: rgba(19, 41, 75, 1);
}

.menu-layout {
  color: #a1a9b7;
  width: 53px;
  display: flex;
  gap: 5px;
}

.menu-layout > img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.no-data {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-row {
  display: flex;
  padding: 14px 40px;
}

.list-col {
  flex: 1;
}

.col-6 {
  flex: 6;
}

.col-4 {
  flex: 4;
}

.col-2 {
  flex: 2;
}

.list-row-odd {
  background-color: rgb(255, 255, 255, 1);
}

.list-row-even {
  background-color: rgba(71, 215, 172, 0.03);
}

.layout-list {
  padding-bottom: 40px;
}

.layout-list .header {
  height: 48px;
  font-family: "Inter";
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: rgba(19, 41, 75, 1);
  background-color: rgba(237, 239, 241, 1);
}

.layout-list .data-name {
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: rgba(45, 128, 123, 1);
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.layout-list .data-date {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(19, 41, 75, 1);
}

.layout-list .data-time {
  font-family: "Inter";
  font-weight: 500;
  font-style: italic;
  font-size: 12px;
  line-height: 20px;
  color: rgba(19, 41, 75, 0.6);
  display: block;
}

.layout-list .action-navigate {
  border-radius: 4px;
  height: 36px;
  padding: 9px 24px;
  font-family: "IBM Plex Sans";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: rgb(255, 255, 255, 1);
  background-color: rgba(45, 128, 123, 1);
}

.layout-list .actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.layout-list .action-menu-icon {
  cursor: pointer;
}
