@font-face {
  font-family: "Inter";
  src:
    local("Inter"),
    url("../assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("ttf");
}

@font-face {
  font-family: "EquipExtended";
  src:
    local("EquipExtended"),
    url("../assets/fonts/equipextreg-webfont.woff2") format("woff2");
}

.h-50rem {
  height: 50rem;
}

.page-label {
  font-family: EquipExtended;
  font-size: 72px;
  line-height: 108px;
  letter-spacing: 1px;
  text-align: left;
}

.sub-label {
  font-family: EquipExtended;
  font-size: 72px;
  font-style: italic;
  line-height: 108px;
  letter-spacing: 0em;
  text-align: left;
}

.page-label-2 {
  font-family: EquipExtended;
  font-size: 4.68vw;
  font-weight: 700;
  line-height: 108px;
  letter-spacing: 2px;
  text-align: left;
  margin-top: -3rem;
}

.start-button-style {
  font-family: IBM Plex Sans;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
}

.getting-started-div {
  margin-top: -4.5rem;
}
