.login-container {
  padding: 2.5rem;
}

.login-card {
  width: 45%;
  margin: auto;
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
}

.login-card .title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: #13294b;
  font-family: Inter;
}

.login-card .info {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #13294b;
  opacity: 0.6;
  font-family: Inter;
  margin-top: 0.5rem;
}

.login-card .input-container {
  margin-top: 1.5rem;
}

.login-card .input-container > label {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  font-family: "IBM Plex Sans";
  width: 100%;
}

.login-card .input-container > input {
  font-size: 0.875rem;
  padding: 0.563rem 1rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-family: Inter;
  width: 100%;
  border-radius: 0.188rem;
  border: 0.063rem solid #eff1f4;
}

.login-card .input-container > span {
  font-size: 0.75rem;
  color: rgb(211, 47, 47);
  font-family: Inter;
}

.login-card .input-container .toggle-password {
  text-align: right;
  margin-top: -2.25rem;
  padding: 0.313rem 1rem;
  pointer-events: none;
}

.login-card .input-container .toggle-password > button {
  pointer-events: all;
  opacity: 0.4;
}

.login-card .input-menu {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.login-card .btn-normal {
  padding: 0.563rem 1rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 500;
  color: #13294b;
  font-family: "IBM Plex Sans";
}

.login-card .btn-success {
  padding: 0.563rem 1rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 500;
  color: white;
  background-color: #3aab94;
  font-family: "IBM Plex Sans";
}
