.section-content-discovery {
  padding: 40px 32px;
  background-color: white;
}

.profile-non-check {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #edeff1;
}

.profile-check {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #2d807b;
}

.user-detail-foot-menu {
  position: fixed;
  bottom: 0;
  right: 5.4%;
  left: 460px;
  z-index: 5;
}

.user-detail-foot-menu button {
  font-family: "IBM Plex Sans";
  font-size: 14px;
  /* line-height: 20px; */
  font-weight: 500;
  border-radius: 4px;
  padding: 6px 16px;
}

.profile-country-select > select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  width: 100%;
  z-index: 1;
}

.profile-country-select::after {
  content: "\02C5";
  transform: scaleX(2);
  /* Adjust the scale factor as needed */
  transform-origin: 0;
  /* Set the transform origin to the left (optional) */
  position: absolute;
  margin-left: -40px;
  margin-top: 20px;
  font-size: 15px;
  pointer-events: none;
}
