.slider-wrapper {
  padding: 20px 0;
}

.slider-container {
  width: 85%;
}

.slider-title {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.slider-track {
  width: 100%;
  background-color: rgba(221, 226, 232, 1);
  height: 12px;
  border-radius: 6px;
  position: relative;
}

.slider {
  height: 12px;
  border-radius: 6px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: flex-end;
}

.slider-cs {
  background-color: rgba(250, 180, 109, 1);
  z-index: 3;
}

.slider-ts {
  background-color: rgba(71, 215, 172, 1);
  z-index: 4;
}

.slider-pcs {
  background-color: rgba(252, 235, 184, 1);
  z-index: 2;
}

.slider-pts {
  background-color: #edfbf7;
  z-index: 1;
}

.slider-notch {
  width: 100%;
  position: relative;
  margin-left: -4px;
}

.notch {
  width: 4px;
  height: 12px;
  position: absolute;
  top: -12px;
  z-index: 5;
  display: flex;
  justify-content: center;
}

.notch-cs {
  background-color: rgba(250, 180, 109, 1);
}

.notch-ts {
  background-color: rgba(71, 215, 172, 1);
}

.notch-pcs {
  background-color: rgba(252, 235, 184, 1);
}

.notch-pts {
  background-color: #edfbf7;
}

.notch-label {
  min-width: 50px;
  height: 26px;
  text-align: center;
  padding: 4px 0px;
  margin-top: 25px;
  background-color: #ccc;
  position: relative;
  border-radius: 4px;
  /* font-family: "Inter"; */
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.notch-label::before {
  width: 10px;
  height: 10px;
  content: "";
  transform: translate(-50%) rotate(45deg);
  /* content: "▲"; */
  position: absolute;
  top: -6px; /* Adjust this value to change the arrow's height */
  left: calc(50%); /* Adjust this value to center the arrow */
}

.notch-cs .notch-label {
  background-color: rgba(250, 180, 109, 1);
  border: 1px solid rgba(250, 180, 109, 1);
}

.notch-cs .notch-label::before {
  background-color: rgba(250, 180, 109, 1);
}

.notch-ts .notch-label {
  background-color: rgba(71, 215, 172, 1);
  border: 1px solid rgba(71, 215, 172, 1);
}

.notch-ts .notch-label::before {
  background-color: rgba(71, 215, 172, 1);
}

.notch-pcs .notch-label {
  background-color: rgba(252, 235, 184, 1);
  border: 1px solid rgba(252, 235, 184, 1);
}

.notch-pcs .notch-label::before {
  background-color: rgba(252, 235, 184, 1);
}

.notch-pts .notch-label {
  background-color: #edfbf7;
  border: 1px dashed rgba(71, 215, 172, 1);
}

.notch-pts .notch-label::before {
  border-top: 1px dashed rgba(71, 215, 172, 1);
  border-left: 1px dashed rgba(71, 215, 172, 1);
  background-color: #edfbf7;
}

.label-min {
  float: left;
  font-size: 10px;
  opacity: 0.4;
}

.label-max {
  float: right;
  font-size: 10px;
  opacity: 0.4;
}

.parentDiv {
  position: relative;
  width: 100%;
  height: 12px;
  margin-top: -12px;
  z-index: 6;
}

.slidableDiv {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin-top: -2px;
  margin-left: -8px;
  border: 1px solid white;
  background-color: rgba(71, 215, 172, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; /* Change cursor to indicate draggable element */
}

.slidableDiv:active {
  cursor: pointer; /* Change cursor when dragging */
  transition: none; /* Disable transition effect during dragging */
}

.legends {
  margin-top: 60px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.legend {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.legend-box {
  width: 18px;
  height: 8px;
  margin-top: 4px;
}

.legend-text {
  font-size: 10px;
  line-height: 15px;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: rgba(19, 41, 75, 1);
  line-height: 16px;
  width: 100px;
}

.legend .tas {
  background-color: rgba(71, 215, 172, 1);
}
.legend .cas {
  background-color: rgba(250, 180, 109, 1);
}
.legend .pas {
  background-color: rgba(252, 235, 184, 1);
}
.legend .ptas {
  background-color: #edfbf7;
  border: 1px dashed rgba(71, 215, 172, 0.6);
}
