@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src:
    local("Inter"),
    url("assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("ttf");
}

@font-face {
  font-family: "EquipExtended";
  src:
    local("EquipExtended"),
    url("assets/fonts/equipextreg-webfont.woff2") format("woff2");
}

body {
  font-family: "Inter";
  background-color: #eff1f4;
}

* {
  font-family: "Inter";
}

.db * {
  border: 1px solid red;
}

.header-banner {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-banner > img {
  width: 40px;
  height: 40px;
}

.header-banner > div {
  color: white;
  align-items: center;
  font-family: EquipExtended;
}

.header-banner .app-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.header-banner .org-name {
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  margin-top: 2px;
}

header .login-button {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500px;
  padding: 9px 16px;
  border-radius: 4px;
  font-family: "IBM Plex Sans";
  background-color: white;
  color: #13294b;
}
